*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    height: -webkit-fill-available; /* We have to fix html height */
    scroll-behavior: smooth;

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    padding: 0;
    max-height: 100vh;
    min-height: -webkit-fill-available;
    @include respond(tab-port) {
        padding: 0;
    }
}

.container {
  display: grid;
  grid-template-rows: 6rem repeat(4, calc((100vh - 10rem)/4)) 4rem;
  grid-template-columns: [social-start] 6rem [social-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
